@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
body{
  margin: 0px;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
.dialer_Background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  background-color: #5ea3f1;
}
.dialer_card_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  gap: 20px;
  height: fit-content;
  background-color: white;
  padding: 100px 20px;
  box-shadow: 0.5px 0.5px 50px;
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
}
.diler_item_row {
  display: flex;
}
.diler_item {
  flex-basis: 32.5%;
  text-align: center;
}
.diler_item:hover {
  background-color: rgba(128, 128, 128, 0.192);
}
.dialer_items_alphabate{
font-size: 14px;
font-weight: bold;
color: rgba(128, 128, 128, 0.473);
}
.number {
  display: flex;
  justify-content: center;
  overflow: hidden;  
}
.callItem {
  background-color: hsl(112deg 22% 45%);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callItem:hover {
  background-color: rgb(58, 99, 52);
}
